@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.logo3 {
    max-width: 100%;
}

.logo2 {
    width: 30%;
    max-width: 150px;
}

.imgMain {
    max-width: 100%;
}

.imgMain2 {
    max-width: 50%;
}

p {
    color: black;
    font-weight: 400;
}

h1 {
    color: black;
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Baloo 2', sans-serif;
}

h2 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
}

h3 {
    color: black;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Baloo 2', sans-serif;
}

h4 {
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

a:hover {
    color: black;
}

.veja-mais {
    color: black;
    font-size: 2rem;
    background-color: #FFEAA0;
    border: #FFEAA0;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
}

.veja-mais:hover {
    background-color: #FFEAA0 !important;
    color: black !important;
}

.btn-whats {
    color: black;
    font-size: 32px;
    background-color: #FFEAA0;
    border: #FFEAA0;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
    text-align: center;
}

.btn-whats:hover {
    background-color: #FFEAA0 !important;
    color: black !important;
}

.btn-enviar {
    font-size: 32px;
}

 .card {
     background-color: #800220;
     color: white;
 }

 .card-action {
     text-align: end;
 }

.margem {
    margin: 5%;
}

@media (max-width: 575px) {
    * {
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (min-width: 575) and (max-width: 691px) {
    h2 {
        font-size: 3rem;
    }
}

@media (min-width: 575px) {
    .logo2 {
        margin-left: 15%;
    }
}

.imagens {
    width: 100%;
}

.sobre {
    position: relative;
    overflow: hidden;
}
.sobre h2 {
    position: relative;
    z-index: 2;
}
.sobre img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.clube {
    position: relative;
    overflow: hidden;
}
.clube h2 {
    position: relative;
    z-index: 2;
}
.clube img {
    position: absolute;
    left: 25%;
    top: 0;
    width: 50%;
    height: auto;
    opacity: 0.6;
}

@media (min-width: 1000px) {
    .sobre img {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 50%;
    }
    .texto {
        padding-top: 5%;
    }
    .margem-sobre {
        margin-left: 10%;
    }
    .newsletter {
        background-color: #FCF7EA;
        padding: 1%;
        margin-left: 30%;
        margin-right: 25%;
    }
    .logo {
        max-width: 10%;
    }
}

@media (min-width: 770px) {
    .margem-sobre {
        margin-left: 10%;
    }
}

@media (max-width: 1000px) {
    .imgMain2 {
        max-width: 100%;
    }
    .imagens {
        width: 100%;
    }
}

.contato {
    position: relative;
    overflow: hidden;
}
.contato h2 {
    position: relative;
    z-index: 2;
}
.contato img {
    position: absolute;
    left: 25%;
    top: 0;
    bottom: 50%;
    width: 50%;
    height: auto;
    opacity: 0.8;
}

.google-maps {
    max-width: 30%;
}

